name: Sync to Hugging Face
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # بۇ يەردە sىزنىڭ Hugging Face دىكى ئادرېسىڭىز 'Uyghur-Corpus/Uyghur-Corpus' دەپ تەڭشەلدى
          git remote add hf https://user:$HF_TOKEN@huggingface.co/datasets/Uyghur-Corpus/Uyghur-Corpus
          git push --force hf main
