name: Sync to Hugging Face

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Install Hugging Face Hub CLI
        run: |
          pip install -U "huggingface_hub[cli]"

      - name: Sync to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # python3 -m نى ئىشلىتىش ئارقىلىق 'command not found' خاتالىقىنىڭ ئالدىنى ئالىمىز
          python3 -m huggingface_hub.commands.huggingface_cli upload Uyghur-Corpus/Uyghur-Corpus . --repo-type=dataset --commit-message "Sync from GitHub Actions" --token $HF_TOKEN
